<form [formGroup]="projectForm" *ngIf="editability">
  <div class="input-row">
    <tui-input formControlName="subject">
      Название проекта
      <input tuiTextfield />
    </tui-input>
  </div>
  <div class="input-row">
    <tui-input formControlName="startDate">
      Дата начала
      <input tuiTextfield />
    </tui-input>
  </div>
  <div class="input-row">
    <tui-input formControlName="endDate">
      Дата окончания
      <input tuiTextfield />
    </tui-input>
  </div>
  <div class="input-row">
    <tui-input formControlName="createdBy">
      Автор
      <input tuiTextfield />
    </tui-input>
  </div>
  <div class="input-row">
    <tui-input formControlName="description">
      Описание
      <input tuiTextfield />
    </tui-input>
  </div>
  <div class="btn">
    <button
      tuiButton
      appearance="accent"
      icon="tuiIconSaveLarge"
      type="submit"
      (click)="onSaveClick(project)"
    >
      Сохранить
    </button>
  </div>
</form>

<section *ngIf="!editability">
  <p class="title">{{ project?.subject }}</p>
  <div class="row">
    <div class="column">
      <div>Дата начала</div>
      <div class="value">
        {{ project?.startDate | normaliseDate }}
      </div>
    </div>
    <div class="column">
      <div>Дата окончания</div>
      <div class="value">
        {{ project?.endDate | normaliseDate }}
      </div>
    </div>
    <div class="column">
      <div>Автор</div>
      <div class="value">{{ project?.createdBy }}</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div>Описание</div>
      <div class="value">{{ project?.description }}</div>
    </div>
  </div>
  <div class="btn">
    <button
      tuiButton
      appearance="primary"
      icon="tuiIconEditLarge"
      (click)="onEditClick()"
    >
      Изменить
    </button>
  </div>
</section>
