.wrapper {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
  font-family: Manrope;
  min-width: 800px;
  color: var(--tui-text-02);
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  max-width: fit-content;
}

.tabs {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.right {
  margin: auto;
  min-width: 10rem;
  max-width: fit-content;
}

.auxText {
  color: var(--tui-text-02);
  font-size: 0.6em;
}

.auxText2 {
  color: var(--tui-text-02);
  font-size: 0.6em;
  text-align: end;
}
.mainText {
  font-size: 20px;
}

p,
div {
  margin-top: 0px;
  margin-bottom: 0px;
}
