.wrapper {
  margin: 0px 50px 0px 10px;
  display: flex;
  font-family: Manrope;
  min-width: 800px;
  color: var(--tui-text-02);
}

.auxText {
  text-align: start;
  color: var(--tui-text-02);
  font-size: 0.7em;
  line-height: 1.5em;
}

.auxText2 {
  text-align: end;
  color: var(--tui-text-02);
  font-size: 0.7em;
  line-height: 1.5em;
  padding-right: 20px;
}
.mainText {
  font-size: 20px;
}

.btn {
  font-family: Manrope;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 60px;
}

p,
div {
  margin-top: 0px;
  margin-bottom: 0px;
}
