<div class="wrapper">
  <ng-template #icon>
    <tui-svg src="../../assets/was-ist-json_600x250px-1.svg"></tui-svg>
  </ng-template>

  <form [formGroup]="JSONform">
    <label tuiLabel="Type a text"><h2>Введите JSON:</h2></label>
    <tui-textarea
      class="textField"
      formControlName="input"
      [expandable]="true"
      [tuiTextfieldIcon]="icon"
      [tuiTextfieldCleaner]="true"
    ></tui-textarea>
    <button
      tuiButton
      class="saveBtn"
      icon="tuiIconSaveLarge"
      appearance="primary"
      (click)="onSaveClick()"
    >
      Сохранить
    </button>
  </form>
</div>
<!-- (click)="saveData($event)" -->
