.wrapper {
  margin: 0px 50px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: Manrope;
  min-width: 800px;
  color: var(--tui-text-02);
}

.content {
  display: flex;
  margin: 0.5rem 0 0 2rem;
}

.left {
  margin-right: 2rem;
  min-width: 10rem;
  /* width: 10rem; */
}

.right {
  margin-left: 2rem;
  min-width: 10rem;
  /* width: 10rem; */
}

.auxText {
  color: var(--tui-text-02);
  font-size: 0.6em;
}

.auxText2 {
  color: var(--tui-text-02);
  font-size: 0.6em;
  text-align: end;
}
.mainText {
  font-size: 20px;
}

p,
div {
  margin-top: 0px;
  margin-bottom: 0px;
}
