.wrapper {
  margin: 0px 50px 0px 10px;
  display: flex;
  font-family: Manrope;
  min-width: 800px;
  color: var(--tui-text-02);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0 2rem;
}

.auxText {
  text-align: start;
  color: var(--tui-text-02);
  font-size: 0.7em;
  line-height: 1.5em;
}

.auxText2 {
  text-align: end;
  color: var(--tui-text-02);
  font-size: 0.7em;
  line-height: 1.5em;
}
.mainText {
  font-size: 20px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

p,
div {
  margin-top: 0px;
  margin-bottom: 0px;
}
